services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data-dev
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydb"]
      interval: 10s
      timeout: 5s
      retries: 5

  migrate:
    image: postgres:15
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      PGPASSWORD: password
    volumes:
      - ./migrations/000001_init.up.sql:/migrations/000001_init.up.sql
      - ./migrations/000002_update_tickets_schema.up.sql:/migrations/000002_update_tickets_schema.up.sql
      - ./migrations/000003_create_items_tables.up.sql:/migrations/000003_create_items_tables.up.sql
      - ./migrations/000004_create_schedule_tables.up.sql:/migrations/000004_create_schedule_tables.up.sql
      - ./migrations/000005_add_schedule_id_to_tickets.up.sql:/migrations/000005_add_schedule_id_to_tickets.up.sql
      - ./migrations/000006_add_password_to_users.up.sql:/migrations/000006_add_password_to_users.up.sql
      - ./migrate.sh:/migrate.sh
    command: ["/migrate.sh"]
    restart: "no"

volumes:
  postgres_data: